table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.light-green {
    background-color: #d4edda;
}
.light-red {
    background-color: #f8d7da;
}


.input-group input {
    flex: 1;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}
.remove-btn {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ff0000;
}