{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Run the solution from the git repository</h2>
                <details>
                <summary>Repositories</summary>
                    <div id="repositoryContainer" class="input-group"></div>
                    <button id="addRepositoryBtn" class="btn btn-outline-primary shadow">Add repository</button>
                    <button id="applyRepositoriesBtn" class="btn btn-outline-primary shadow">Apply</button>
                </details>
            </div>
        </div>
        <div class="row flex-column">
            <div class="col-md-12">
                <h2>Routes</h2>
                <details>
                <summary>Routes</summary>
                    <div id="inputContainer"></div>
                    <button id="addFieldBtn" class="btn btn-outline-primary shadow">Add requirement</button>
                    <button id="submitBtn" class="btn btn-outline-primary shadow">Apply</button>
                    <script src="/static/js/requirements_buttons.js"></script>
                </details>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Check for file existence</h2>
                <details>
                <summary>Files</summary>
                    <div id="filesContainer1"></div>
                    <button id="addFileBtn" class="btn btn-outline-primary shadow">Add file</button>
                    <button id="applyFilesBtn" class="btn btn-outline-primary shadow">Apply</button>
                </details>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Сheck result</h2>
                <button id="check_solutions" class="btn btn-outline-primary shadow">Check solutions</button>

                <div id="tableContainer">
                    <p id="result">Solutions have not been tested</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/dynamic_fields.js"></script>
    <script type="module" src="../static/js/main.js"></script>
    <script src="../static/js/set_default_values.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock content %}