<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Web checker for exams</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Web checker for exams</h1>
    <p>Write a program in python that will read 2 numbers (each number is entered on a separate line)
        and will output the sum of these numbers</p>

    <h2>Run the written solution</h2>
    <form id="textForm">
        <textarea id="textInput" rows="10" cols="30" placeholder="Enter your python code"></textarea><br>
        <button type="button" id="submitButton">Submit</button>
    </form>

    <h2>Run the solution from the git repository</h2>
    <input type="text" id="repositoryNameInput" value="https://github.com/KonstBeliakov/test_repository.git">
    <button id="SubmitRepositoryNameButton">Submit</button>

    <h2>Requirements</h2>
    <div id="inputContainer"></div>
    <button id="addFieldBtn">Add requirement</button>
    <button id="submitBtn">Apply</button>
    <script src="/static/js/requirements_buttons.js"></script>

    <h2>Сheck result</h2>

    <div id="tableContainer">
        <p id="result">Solutions have not been tested</p>
    </div>

    <script type="module" src="/static/js/main.js"></script>
</body>
</html>